<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    
    <meta charset="UTF-8">
    <title>Legal Document Simplifier</title>
    <meta http-equiv="refresh" content="4;url={{ url_for('auth.login') }}">

    {% include 'style.html' %}

</head>
<body>
    <div class="badge">AI Powered Legal Document Simplification</div>
    <h1>AI-Assisted Smart Legal Document Simplification<br> 
        System for Small Businesses</h1>
    <div class="subheading">
        "Legal language shouldn’t be a barrier. We make it accessible." Human-centered and inclusive.
    </div>
    <div class="redirect-note">Redirecting to login page...</div>
</body>
</html>
